@import "tailwindcss";
@import "tw-animate-css";

/* Loading Page Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}
.animate-bounce-slow {
  animation: bounce 3s ease-in-out infinite;
}
.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

.animate-slide-bar {
  animation: slide-bar 1.5s ease-in-out infinite;
}

.animate-delay-0 {
  animation-delay: 0ms;
}

.animate-delay-150 {
  animation-delay: 150ms;
}

.animate-delay-300 {
  animation-delay: 300ms;
}

.animate-delay-1000 {
  animation-delay: 1s;
}
